.welcome-wrapper {
	margin-top: 10vh;
	text-align: center;
	justify-content: center;
	margin-left: 0px;
	margin-right: 0px;
	min-height: 100vh;
}

.welcome-title {
	font-size: 10vh;
	margin-bottom: 10px;
}

.welcome-text {
	font-size: 5vh;
	margin-bottom: 10px;
}
